.rightsidebar {
  width: 20%;
  position: fixed;
  top: 90px;
  right: 0;
}
.rightsidebar__list {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  cursor: pointer;
}
.rightsidebar__list-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.rightsidebar__list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightsidebar__list-name {
  margin-left: 12px;
}
.contact-heading {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  color: #65676b;
  font-weight: 600;
  font-size: 1.04rem;
  line-height: 1.3333;
}
.contact-heading .contacts {
  margin-right: auto;
}
.sistrix {
  margin: 0 10px;
}
.ellipsis {
}
